p {
  font-family: Arial;
}
input {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
}
button {
  background-color: rgb(0,114,177);
  color: white;
  border-style: none;
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 150px;
  padding-right: 150px;
  border-radius: 26px;
  cursor: pointer;
}