.flexbox {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  align-items: center;
}

.pink {
  background-color: pink;
}