div {
  display: inline-block;
  box-shadow: black 1px 1px 5px; 
  border-radius: 3px;
  padding: 0px 0px;
}

img {
  width: 200px;
  height: 210px;
  object-fit: cover;
}

button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px 7px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px 7px;
}

.User {
  font-weight: bold;
}

.Mutuals {
  color: grey;
}